<form action="/convertir" method="POST">
    <label for="Number">Number:</label>
    <input type="text" name="NumberField" id="Number" placeholder="Enter the number here" style="background-color: aquamarine; width: 80px;">
    <br>
    <input type="submit" value="Convert" style="border-color: black;">
</form>